%header
  .container
    .row
      .span3
        = link_to "Nav 1", "/nav1"
      .span3
        = link_to "Nav 2", "/nav2"
      .span3
        = link_to "Nav 3", "/nav3"
      .span3
        = link_to "Nav 4", "/nav4"