%p Second tab
= link_to "Subnav 1", "/subnav1", class: "subnav-pjax"
= link_to "Subnav 2", "/subnav2", class: "subnav-pjax"
= link_to "Subnav 3", "/subnav3", class: "subnav-pjax"
= link_to "Subnav 4", "/subnav4", class: "subnav-pjax"
#subnav-pjax