// A twelve column, fluid gruid
//
// Styleguide 1.2

.container {
  width: 940px;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  margin-left: -20px;
  overflow: hidden;
}

.span1 {
  float: left;
  padding-left: 20px;
  width: 8.333%;
}

.span2 {
  float: left;
  padding-left: 20px;
  width: 16.666%;
}

.span3 {
  float: left;
  padding-left: 20px;
  width: 25%;
}

.span4 {
  float: left;
  padding-left: 20px;
  width: 33.333%;
}

.span5 {
  float: left;
  padding-left: 20px;
  width: 41.666%;
}

.span6 {
  float: left;
  padding-left: 20px;
  width: 50%;
}

.span7 {
  float: left;
  padding-left: 20px;
  width: 58.333%;
}

.span8 {
  float: left;
  padding-left: 20px;
  width: 66.666%;
}

.span9 {
  float: left;
  padding-left: 20px;
  width: 75%;
}

.span10 {
  float: left;
  padding-left: 20px;
  width: 83.333%;
}

.span11 {
  float: left;
  padding-left: 20px;
  width: 91.666%;
}

.span12 {
  float: left;
  padding-left: 20px;
  width: 100%;
}
